#jeopardy {
    text-align: center;
    font-size: 9pt;
    font-family: Roboto, sans-serif;
    background-color: #060ce9;
    color: white;
    border-collapse: collapse;
  }
  
  #jeopardy-head #jeopardy-body{
    border: solid 1px white;
    
    margin: auto;
    text-align: center;
  }
  
  #jeopardy-head{
    text-transform: uppercase;
    font-weight: bold;
    height: 5em;
    width: 10em;
    font-size: 12pt;
    text-shadow: goldenrod 1px 1px;
    
  }
 td{
    height: 10em;
    width: 10em;
    /* width: 20em; */
  }
  
  
 td.UNCLICKED {
    
    font-size: 15pt;
    background-color: #060ce9;
  }

  
  td.CLICKED{
    
    background-color:#3579f8;
    font-size: 12pt;
    overflow-wrap: break-word;
    text-transform: capitalize;
  }

 td:hover {
    cursor: pointer;
  }

  /* td:active {
    font-size: 15pt;
    overflow-wrap: break-word; 
  } */

  /* td:visited{
    background-color:#3579f8;
    font-size: 15pt;
    overflow-wrap: break-word;
  } */

  /* #restart{
    background-color: goldenrod;
    font-size: 9pt;
    color: black;
    padding: 1pt;
  } */