#jeopardy {
  text-align: center;
  font-size: 12pt;
  background-color: #115ff4;
  color: white;
  border-collapse: collapse;
}

#jeopardy-head #jeopardy-body{
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

#jeopardy-head{
  text-transform: uppercase;
  font-weight: bold;
  height: 5em;
  text-shadow: goldenrod 1px 1px;
}

#jeopardy-body{
  height: 10em;
}

#jeopardy-body:hover {
  cursor: pointer;
}